body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('image/background.jpg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #e0e0e0;
}

header {
    color: #fff;
    padding: 1rem 0; /* Reduced padding to make the header smaller */
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem; /* Reduced padding to make the header content smaller */
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
}

.profile-pic {
    width: 340px;
    height: 350px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .project-img {
        width: 100%;
    }
}
